/* RESPONSIVE */
/* GRID */
/* LAYOUT */
/* TYPOGRAPHY */
/* COLORS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea, select {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #0A0A0A;
  font-family: "Chivo", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

/* default background */
body {
  background-color: #f5f2ef;
  font-size: 16px;
}

p {
  line-height: 1.666em;
}

/* typography */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code {
  font-size: 1em;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* list and tables */
ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* selection and focus colors */
::-moz-selection {
  background: #C8EBE1;
}
::selection {
  background: #C8EBE1;
}

/* input */
input, textarea {
  outline: none;
}

/* RESPONSIVE */
/* GRID */
/* LAYOUT */
/* TYPOGRAPHY */
/* COLORS */
/* components */
.utility-item, .card-newsletter {
  background-color: #FFF;
}

.icon {
  padding: 0 4.5px;
}

.card-newsletter-button {
  background-color: #0A0A0A;
  border-radius: 2px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #FFF;
  display: inline-block;
  padding: 18px 36px;
}

.card-newsletter-button:hover {
  background-color: #148571;
}

.column--half, .column--third, .column--quarter, .column--eighth {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.link-with-icon, .nav-menu-el, .footer-nav-el {
  cursor: pointer;
  font-weight: 700;
}

.link-with-icon:hover, .nav-menu-el:hover, .footer-nav-el:hover {
  color: #148571;
}

.link-with-icon {
  text-decoration: underline;
}

/* RESPONSIVE */
/* GRID */
/* LAYOUT */
/* TYPOGRAPHY */
/* COLORS */
h1.micro, h2.micro, h3.micro, h4.micro, h5.micro, h6.micro, p.micro {
  font-size: 0.25em;
}

h1.small, h2.small, h3.small, h4.small, h5.small, h6.small, p.small {
  font-size: 0.5em;
}

h1.medium, h2.medium, h3.medium, h4.medium, h5.medium, h6.medium, p.medium {
  font-size: 1.25em;
}

h1.large, h2.large, h3.large, h4.large, h5.large, h6.large, p.large {
  font-size: 1.5em;
}

h1.extra, h2.extra, h3.extra, h4.extra, h5.extra, h6.extra, p.extra {
  font-size: 2em;
}

.column h1, .column--half h1, .column--third h1, .column--quarter h1, .column--eighth h1, .column h2, .column--half h2, .column--third h2, .column--quarter h2, .column--eighth h2, .column h3, .column--half h3, .column--third h3, .column--quarter h3, .column--eighth h3, .column h4, .column--half h4, .column--third h4, .column--quarter h4, .column--eighth h4, .column h5, .column--half h5, .column--third h5, .column--quarter h5, .column--eighth h5, .column h6, .column--half h6, .column--third h6, .column--quarter h6, .column--eighth h6, .column p, .column--half p, .column--third p, .column--quarter p, .column--eighth p {
  margin-bottom: 18px;
}

a .hyperlink:link, a .hyperlink:visited, a .hyperlink:active {
  color: #0A0A0A;
}

a .hyperlink:hover {
  color: #148571;
}

.title, .section-title, .card-newsletter-title {
  font-weight: 700;
  margin-bottom: 9px;
}

.subtitle, .section-subtitle {
  margin-bottom: 9px;
  opacity: 0.9;
}

code {
  font-family: Monaco, 'Courier New', Courier, monospace;
  display: block;
  color: #148571;
}

strong {
  font-weight: 700;
}

/* media queries */
@media screen and (min-width: 800px) {
  body {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

/* RESPONSIVE */
/* GRID */
/* LAYOUT */
/* TYPOGRAPHY */
/* COLORS */
/* components */
.utility-item, .card-newsletter {
  background-color: #FFF;
}

.icon {
  padding: 0 4.5px;
}

.card-newsletter-button {
  background-color: #0A0A0A;
  border-radius: 2px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #FFF;
  display: inline-block;
  padding: 18px 36px;
}

.card-newsletter-button:hover {
  background-color: #148571;
}

.column--half, .column--third, .column--quarter, .column--eighth {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.link-with-icon, .nav-menu-el, .footer-nav-el {
  cursor: pointer;
  font-weight: 700;
}

.link-with-icon:hover, .nav-menu-el:hover, .footer-nav-el:hover {
  color: #148571;
}

.link-with-icon {
  text-decoration: underline;
}

/* RESPONSIVE */
/* GRID */
/* LAYOUT */
/* TYPOGRAPHY */
/* COLORS */
/* RESPONSIVE */
/* GRID */
/* LAYOUT */
/* TYPOGRAPHY */
/* COLORS */
/* components */
.utility-item, .card-newsletter {
  background-color: #FFF;
}

.icon {
  padding: 0 4.5px;
}

.card-newsletter-button {
  background-color: #0A0A0A;
  border-radius: 2px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #FFF;
  display: inline-block;
  padding: 18px 36px;
}

.card-newsletter-button:hover {
  background-color: #148571;
}

.column--half, .column--third, .column--quarter, .column--eighth {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.link-with-icon, .nav-menu-el, .footer-nav-el {
  cursor: pointer;
  font-weight: 700;
}

.link-with-icon:hover, .nav-menu-el:hover, .footer-nav-el:hover {
  color: #148571;
}

.link-with-icon {
  text-decoration: underline;
}

.content {
  max-width: 768px;
  padding: 0 18px 18px 18px;
  margin: 0 auto;
}

.content--full-width {
  padding-bottom: 18px;
}

.columns {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column, .column--half, .column--third, .column--quarter, .column--eighth {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: 768px;
  padding: 0 18px 18px 18px;
}

.column--half {
  width: 50%;
}

.column--third {
  width: 33.3%;
}

.column--quarter {
  width: 25%;
}

.column--eighth {
  width: 12.5%;
}

/* media queries */
@media (max-width: 800px) {
  body {
    padding-top: 80px;
  }
  /* add margin-top to make space for the mobile menu */
}

@media screen and (min-width: 800px) {
  .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 27px;
  }
  .column, .column--half, .column--third, .column--quarter, .column--eighth {
    padding: 0 18px 18px 18px;
  }
}

@media screen and (min-width: 1200px) {
  .columns {
    padding: 0 36px;
  }
  .column, .column--half, .column--third, .column--quarter, .column--eighth {
    padding: 0 27px 27px 27px;
  }
}

/* RESPONSIVE */
/* GRID */
/* LAYOUT */
/* TYPOGRAPHY */
/* COLORS */
/* RESPONSIVE */
/* GRID */
/* LAYOUT */
/* TYPOGRAPHY */
/* COLORS */
/* components */
.utility-item, .card-newsletter {
  background-color: #FFF;
}

.icon {
  padding: 0 4.5px;
}

.card-newsletter-button {
  background-color: #0A0A0A;
  border-radius: 2px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #FFF;
  display: inline-block;
  padding: 18px 36px;
}

.card-newsletter-button:hover {
  background-color: #148571;
}

.column--half, .column--third, .column--quarter, .column--eighth {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.link-with-icon, .nav-menu-el, .footer-nav-el {
  cursor: pointer;
  font-weight: 700;
}

.link-with-icon:hover, .nav-menu-el:hover, .footer-nav-el:hover {
  color: #148571;
}

.link-with-icon {
  text-decoration: underline;
}

/* RESPONSIVE */
/* GRID */
/* LAYOUT */
/* TYPOGRAPHY */
/* COLORS */
/* components */
.utility-item, .card-newsletter {
  background-color: #FFF;
}

.icon {
  padding: 0 4.5px;
}

.card-newsletter-button {
  background-color: #0A0A0A;
  border-radius: 2px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #FFF;
  display: inline-block;
  padding: 18px 36px;
}

.card-newsletter-button:hover {
  background-color: #148571;
}

.column--half, .column--third, .column--quarter, .column--eighth {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.link-with-icon, .nav-menu-el, .footer-nav-el {
  cursor: pointer;
  font-weight: 700;
}

.link-with-icon:hover, .nav-menu-el:hover, .footer-nav-el:hover {
  color: #148571;
}

.link-with-icon {
  text-decoration: underline;
}

/* RESPONSIVE */
/* GRID */
/* LAYOUT */
/* TYPOGRAPHY */
/* COLORS */
h1.micro, h2.micro, h3.micro, h4.micro, h5.micro, h6.micro, p.micro {
  font-size: 0.25em;
}

h1.small, h2.small, h3.small, h4.small, h5.small, h6.small, p.small {
  font-size: 0.5em;
}

h1.medium, h2.medium, h3.medium, h4.medium, h5.medium, h6.medium, p.medium {
  font-size: 1.25em;
}

h1.large, h2.large, h3.large, h4.large, h5.large, h6.large, p.large {
  font-size: 1.5em;
}

h1.extra, h2.extra, h3.extra, h4.extra, h5.extra, h6.extra, p.extra {
  font-size: 2em;
}

.column h1, .column--half h1, .column--third h1, .column--quarter h1, .column--eighth h1, .column h2, .column--half h2, .column--third h2, .column--quarter h2, .column--eighth h2, .column h3, .column--half h3, .column--third h3, .column--quarter h3, .column--eighth h3, .column h4, .column--half h4, .column--third h4, .column--quarter h4, .column--eighth h4, .column h5, .column--half h5, .column--third h5, .column--quarter h5, .column--eighth h5, .column h6, .column--half h6, .column--third h6, .column--quarter h6, .column--eighth h6, .column p, .column--half p, .column--third p, .column--quarter p, .column--eighth p {
  margin-bottom: 18px;
}

a .hyperlink:link, a .hyperlink:visited, a .hyperlink:active {
  color: #0A0A0A;
}

a .hyperlink:hover {
  color: #148571;
}

.title, .section-title, .card-newsletter-title {
  font-weight: 700;
  margin-bottom: 9px;
}

.subtitle, .section-subtitle {
  margin-bottom: 9px;
  opacity: 0.9;
}

code {
  font-family: Monaco, 'Courier New', Courier, monospace;
  display: block;
  color: #148571;
}

strong {
  font-weight: 700;
}

/* media queries */
@media screen and (min-width: 800px) {
  body {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

/* utility classes */
.section-title {
  line-height: 0.9em;
  margin: 0;
  padding: 0;
}

.accordion {
  background-color: #FFF;
  margin: 0 auto 18px auto;
  max-width: 768px;
}

.accordion-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  padding: 18px;
}

.accordion-content--hide {
  display: none;
}

.accordion-content--show {
  margin-top: -9px;
  padding: 0 18px 18px 18px;
}

.accordion-icon {
  padding-left: 22.5px;
  font-size: 1.25em;
}

.section {
  margin: 0 auto 108px auto;
  max-width: 768px;
}

.section-header {
  margin: 36px 18px;
}

.section-title {
  font-size: 2em;
  margin-bottom: 22.5px;
}

.section-title:before {
  content: ' ';
  display: block;
  width: 54px;
  height: 4.5px;
  margin-bottom: 18px;
  background-color: #148571;
}

.section-subtitle {
  font-size: 1.5em;
  margin-bottom: 18px;
}

.section-content {
  margin: 18px;
}

.hero {
  background-color: #B4B4AF;
  background-image: url("/images/office_S.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  margin-bottom: 36px;
}

.hero-title {
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  color: #FFF;
  padding-top: 54px;
  margin: 22.5px;
}

.list-with-icons {
  margin: 18px 0;
  font-size: 1.25em;
}

.list-with-icons-el {
  margin: 22.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.list-with-icons-el .icon {
  width: 54px;
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px;
}

.nav-menu-el {
  margin: 0 9px;
}

.nav-mobile-link, .nav-mobile-close {
  display: none;
}

.utility {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.utility-item {
  width: 48%;
  padding: 27px;
}

.utility-item:hover {
  color: #148571;
}

.utility-item-icon {
  font-size: 120px;
  vertical-align: top;
  color: inherit;
}

.utility-item-title {
  font-size: 1.25em;
  color: inherit;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #B4B4AF;
  margin: 0 18px;
  padding: 36px 18px;
}

.footer-brand {
  margin-left: 27px;
  margin-right: 27px;
}

.footer-brand img {
  height: 36px;
  margin-bottom: 18px;
}

.footer-nav {
  margin-right: 18px;
}

.footer-nav-el {
  padding: 0 9px;
}

.link-with-icon::before {
  font-family: "Ionicons";
  content: "\f22e\2002";
}

.card-newsletter {
  margin: 22.5px 22.5px 108px 22.5px;
  text-align: center;
  padding: 54px 0 54px 0;
}

.card-newsletter-title {
  font-size: 2em;
  margin-bottom: 27px;
}

.card-newsletter-subtitle {
  font-size: 1.5em;
  margin-bottom: 36px;
}

.team-pics {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -81px auto 108px auto;
  padding: 0 9px;
  max-width: 1600px;
}

.team-pics-el {
  border-radius: 2px;
  overflow: hidden;
  width: 22%;
  margin: 1.5%;
  min-width: 224px;
}

.team-pics-el img {
  width: 100%;
  vertical-align: bottom;
}

.team-pics-el-descr {
  font-size: 0.88em;
  background-color: #FFF;
  padding: 22.5px 27px;
  width: 100%;
}

.team-pics-el-descr-subtitle {
  color: #B4B4AF;
}

/* media queries */
@media screen and (max-width: 800px) {
  .nav {
    background-color: #f5f2ef;
    -webkit-box-shadow: 1em 0 2em rgba(0, 0, 0, 0.1);
            box-shadow: 1em 0 2em rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 18px 22.5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .nav-logo {
    padding-top: 4.5px;
  }
  .nav-logo img {
    height: 36px;
  }
  .nav-menu {
    display: none;
  }
  .nav-menu-el {
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding: 27px;
  }
  .nav-menu--visible {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-mobile-link {
    display: inherit;
    cursor: pointer;
    font-size: 1.25em;
  }
  .nav-mobile-link:hover {
    color: #148571;
  }
  .nav-mobile-close {
    display: inherit;
    position: fixed;
    top: 27px;
    right: 36px;
  }
  .nav-mobile-close .icon {
    font-size: 2em;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .footer-brand {
    margin: 22.5px;
  }
  .footer-nav {
    margin: 22.5px;
  }
  .footer-nav-el {
    display: block;
    font-size: 1.25em;
    margin-bottom: 9px;
    padding-left: 0;
  }
  .team-pics-el {
    width: 46%;
    margin: 1.5%;
  }
}

@media screen and (min-width: 800px) {
  .hero {
    background-image: url("/images/office_M.jpg");
  }
  .hero-title {
    font-size: 3em;
    padding: 0;
    margin: 27px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("/images/office_L.jpg");
    margin-bottom: 54px;
    height: 480px;
  }
  .hero-title {
    font-size: 3em;
    padding: 0;
    margin: 36px;
  }
}